.catalog {
  @include tablet {
    width: $tablet-width;
    margin: 0 auto;
    padding: 0 30px;
  }

  @include desktop {
    width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
  }

  &--supplementary {
    @include tablet {
      padding: 0;
      margin-bottom: 73px;
    }

    @include desktop {
      width: 100%;
      margin-bottom: 0;
    }
  }
}

.catalog__list {
  @include listReset;
  border-top: 1px solid #ededed;

  @include tablet {
    border: none;
  }

  &--main {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--supplementary {
    @include desktop {
      width: 895px;

      border-top: 1px solid #cdcdcd;
    }
  }
}

.catalog__item {
  padding: 0 20px 24px;

  border-bottom: 1px solid #ededed;

  &--main {
    @include tablet {
      margin-bottom: 57px;
      margin-right: 60px;

      border: none;
    }

    @include desktop {
      margin-right: 80px;
      margin-bottom: 60px;
    }

    &:nth-child(2n) {
      @include tablet {
        margin-right: 0;
      }

      @include desktop {
        margin-right: 80px;
      }
    }

    &:nth-child(4n) {
      @include desktop {
        margin-right: 0;
      }
    }
  }

  &--supplementary {
    padding: 11px 0 19px;

    @include tablet {
      border: 1px solid #cdcdcd;
      border-bottom: none;
    }

    @include desktop {
      border: none;
      border-bottom: 1px solid #cdcdcd;
    }
  }

  &--supplementary:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__title {
  @include reset;
  padding: 28px 0 34px 20px;

  @include tablet {
    padding: 10px 0 80px;
  }

  @include desktop {
    width: 100%;
    padding: 16px 0 78px;
  }
}

.catalog__container {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1300px;
    padding: 0 40px 85px;
    margin: 0 auto;
  }
}
