.gift {
  position: relative;
  padding: 188px 50px 41px;

  background: $primaryCol url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) and (max-width: 1299px) {
    padding: 71px 100px 69px 423px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @include desktop {
    padding: 188px 40px 40px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 50%;
    display: block;
    width: 55px;
    height: 60px;

    background: url("../img/icon-gift.svg") no-repeat center;

    transform: translateX(-50%);

    @media (min-width: $tablet-width) and (max-width: 1299px) {
      top: 65px;
      left: 119px;
    }
  }
}

.gift__text {
  @include reset;

  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) and (max-width: 1299px) {
    text-align: left;
  }
}
