.page-footer {
  @include desktop {
    width: $desktop-width;
    margin: 0 auto;
  }
}

.page-footer__contacts {
  position: relative;

  &--bg-grey {
    background-color: $secondaryCol;

    @include desktop {
      background-color: #ffffff;
    }
  }
}

.page-footer__info {
  display: flex;
  padding: 28px 20px 25px;

  @include tablet {
    width: $tablet-width;
    align-items: center;
    margin: 0 auto;
    padding: 63px 72px 60px 71px;
  }

  @include desktop {
    position: absolute;
    left: 110px;
    top: 95px;
    width: 570px;
    height: 201px;
    padding-left: 76px;
    background-color: #ffffff;
  }
}

.page-footer__dealers {
  @include reset;
  width: 140px;
  margin-right: auto;

  @include tablet {
    width: 170px;
    line-height: 25px;
  }
}

.page-footer__address {
  @include reset;
  width: 140px;

  line-height: 20px;

  @include tablet {
    width: 170px;
    text-align: right;
  }

  @include desktop {
    text-align: left;
  }

  & span {
    @include tablet {
      display: block;
      margin-bottom: 19px;
    }
  }
}

.page-footer__map {
  width: 100%;
  height: 362px;

  background: $secondaryCol url("../img/map-pin.png") 50% 45% no-repeat, url("../img/bg-map-mobile@1x.png") 0 -37px no-repeat;
  background-size: 62px, 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: $secondaryCol url("../img/map-pin.png") 50% 45% no-repeat, url("../img/bg-map-mobile@2x.png") 0 -37px no-repeat;
    background-size: 62px, 100%;
  }

  @include tablet {
    width: $tablet-width;
    height: 396px;
    margin: 0 auto;

    background: url("../img/map-pin.png") 50% 51% no-repeat, url("../img/bg-map-tablet@1x.png") 0 -4px no-repeat;
    background-size: 124px, 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/map-pin.png") 50% 45% no-repeat, url("../img/bg-map-tablet@2x.png") 0 -37px no-repeat;
      background-size: 62px, 100%;
    }
  }

  @include desktop {
    width: $desktop-width;
    height: 400px;

    background: url("../img/map-pin.png") 76% 50.5% no-repeat, url("../img/bg-map-desktop@1x.png") 0 0 no-repeat;
    background-size: 124px, 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/map-pin.png") 75% 50% no-repeat, url("../img/bg-map-desktop@2x.png") 0 0 no-repeat;
      background-size: 124px, 100%;
    }
  }
}

.page-footer__wrapper {
  background-color: $secondaryCol;

  @include desktop {
    width: $desktop-width;
    margin: 0 auto;
  }
}

.page-footer__container {
  padding: 22px 20px 10px;
  background-color: $secondaryCol;

  @include tablet {
    width: $tablet-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px 53px;
  }

  @include desktop {
    width: $desktop-width;
    padding: 50px 110px;
  }
}

.page-footer__logo-container {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 47px;

  @include tablet {
    display: flex;
    border: none;
    padding: 0;
    padding-top: 3px;
    padding-left: 3px;
  }

  @include desktop {
    padding-left: 0;
  }
}

.page-footer__logo {
  @include reset;
  width: 128px;
  height: 24px;
  margin: 0 auto;

  @include tablet {
    display: flex;
  }
}

.page-footer__logo-link {
  display: flex;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  border-bottom: 1px solid #cdcdcd;

  @include tablet {
    border: none;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  @include tablet {
    padding: 0;
    // margin-top: 11px;
  }
}

.page-footer__copyright-text {
  display: flex;
  margin-right: 7px;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}

.page-footer__copyright-link {
  display: flex;
  cursor: pointer;
}

.page-footer__copyright-icon {
  display: flex;
  width: 40px;
  height: 47px;
}
