.stats {
  padding: 16px 0 35px;

  background-color: $secondaryCol;

  @include tablet {
    padding: 0;
    background-color: #ffffff;
  }

  @include desktop {
    display: flex;
    width: 100%;
    padding-top: 80px;
  }
}

.stats__wrapper {
  @include desktop {
    display: flex;
    width: 1300px;
    margin: 0 auto;
  }
}

.stats__container {
  margin-bottom: 35px;
  padding: 0 20px;

  @include tablet {
    width: $tablet-width;
    margin: 0 auto;
    padding: 40px 30px 222px;

    background-color: #ffffff;
  }

  @include desktop {
    width: 50%;
    margin: 0;
    padding: 0;
  }
}

.stats__title {
  margin-bottom: 25px;

  @include tablet {
    margin-bottom: 64px;
  }

  @include desktop {
    padding-left: 40px;
    margin-bottom: 73px;
  }
}

.stats__info {
  @include reset;
  margin-bottom: 25px;
  padding-right: 10px;

  @include tablet {
    margin-bottom: 53px;
  }

  @include desktop {
    padding: 70px 175px 68px 40px;
    margin-bottom: 0;

    background-color: $secondaryCol;
  }
}

.stats__inner-container {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include desktop {
    flex-direction: column;
    padding: 0 100px 72px 40px;

    background-color: $secondaryCol;
  }
}

.stats__table-container {
  margin-bottom: 34px;

  @include desktop {
    margin-left: 0;
    margin-bottom: 45px;
  }
}

.stats__table {
  position: relative;
  display: flex;
  margin: 0 auto;

  text-align: center;

  @media (max-width: 767px) {
    width: 280px;
  }

  @include desktop {
    margin: 0;
  }
}

.stats__table tbody {
  display: flex;
}

.stats__table tr {
  display: flex;
  flex-wrap: wrap;
}

.stats__field {
  position: absolute;
  bottom: -29%;
  left: 6%;
  z-index: 2;
  width: 87px;
  padding: 2px 5px;

  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  background-color: $secondaryCol;

  @include tablet {
    width: auto;
    padding: 5px 6px;
    left: 7.8%;
    bottom: -16%;

    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  @include desktop {
    left: 5%;

    background-color: $secondaryCol;
  }
}

.stats__field:nth-child(2) {
  left: 62%;

  @include tablet {
    left: 58.5%;
  }

  @include desktop {
    left: 42.5%;
  }
}

.stats__value {
  min-width: 123px;
  margin-right: 33px;
  padding: 14px 12px 16px 8px;

  font-size: 24px;
  line-height: 24px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @include tablet {
    min-width: 163px;
    padding: 14px 15px 19px;
    margin-right: 41px;

    font-size: 30px;
    line-height: 37px;
  }
}

.stats__value:last-child {
  margin-right: 0;
}

.stats__cost {
  @include reset;

  font-size: 14px;
  text-align: center;

  @include tablet {
    width: 190px;
    padding-top: 8px;

    font-size: 20px;
    line-height: 29px;
    text-align: right;
  }

  @include desktop {
    width: auto;
    padding-top: 11px;

    text-align: left;
  }
}

.stats__cost span {
  @include desktop {
    display: inline-block;
    vertical-align: top;
    margin-right: 60px;
  }
}

.stats__slider {
  padding: 0 20px;
}
